<!-- app/views/recipes/public_recipes.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'index' %> 
    <%= stylesheet_link_tag 'public' %> 

</head>
<body>
  <%= render 'shared/navbar' %>
  <%# <div class="container"> %>
    <div class="public-recipes-container">
  <h1 class="public-recipes-title">Public Recipes</h1>
  <div class="public-recipes-list">
    <% if @public_recipes.empty? %>
      <p class="no-recipes-message">No public recipes available.</p>
    <% else %>
      <% @public_recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe), class: "recipe-card" do %>
          <div class="recipe-card-content">
            <div class="recipe-card-left">
              <p class="recipe-name"><%= recipe.name %></p>
              <p class="recipe-author">By: <%= recipe.user.name %></p>
            </div>
            <div class="recipe-card-right">
              <p class="recipe-details">Food Items Count: 
              <%# <recipe.recipe_foods.count > %>
              </p>
              <p class="recipe-details">Total Price: $
              <%# < recipe.recipe_foods.sum { |rf| rf.quantity * rf.food.price } > %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
