<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'custom' %>
</head>
<%= render 'shared/navbar' %>
<body>
  <div class="container">
    <h1 class="recipe-name text-center"><%= @recipe.name %></h1>

    <%= form_for @recipe, url: recipe_path(@recipe), method: :patch do |f| %>
      <div class="recipe-details">
        <div class="details-left">
          <p>Preparation Time: <%= @recipe.preparation_time %> hours</p>
          <p>Cooking Time: <%= @recipe.cooking_time %> hours</p>
          <p>Public:
            <label class="switch">
              <%= f.check_box :public, class: "form-check-input", id: "publicToggle" %>
              <span class="slider round"></span>
            </label>
          </p>
        </div>
      </div>
      <div class="details-right">
       <button class="add-ingredient-button">
       <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe) %>
       </button>

        <button class="add-ingredient-button">
<%= link_to 'Generate Shopping List', shopping_lists_path(recipe_id: @recipe.id), class: 'generate-shopping-button' %>
       </button>


        </button>
      </div>
      <div class="actions">
        <%= f.submit 'Save', class: 'save-button' %>
      </div>
    <% end %>

    <table class="food-table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through recipe_foods and populate the table -->
    <% @recipe.recipe_foods.each do |food| %>
      <tr>
        <td><%= food.food.name %></td>
        <td><%= food.quantity %></td>
 <td>$ <%= food.food.price * food.quantity %></td>


<td>
  <!-- Add a "Delete" button to delete the recipe food -->
  <%= form_with model: food, url: recipe_recipe_food_path(@recipe, food), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe food?' } do |f| %>
    <span><%= f.submit 'Delete', class: 'delete-button' %></span>
  <% end %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</body>
</html>
