<h2 class="form-heading">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field my-5">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input-new" %> <!-- Apply the same input class as before -->
  </div>

  <div class="field my-5">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-new" %> <!-- Apply the same input class as before -->
  </div>

  <div class="btn-container">
    <%= f.submit "Change my password", class: "btn-new" %> <!-- Apply the same button class as before -->
  </div>
</form>

<%= render "devise/shared/links" %>
