<div class="container-fluid">
  <div class="col-md-4 form-container-new"> <!-- Add form-container-new class -->
<h1 class="form-heading">Already have an account? Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input-new" %> <!-- Use the input-new class -->
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input-new" %> <!-- Use the input-new class -->
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>
      <div class="btn-container"> <!-- Center the button -->
        <%= f.submit "Log in", class: "btn-new" %> <!-- Use the btn-new class for the button -->
      </div>
    <% end %>
    <div class="text-center lik-sec">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
