<div class="container">
  <h2>Food List</h2>

  <turbo-frame id="foods_frame">
    <% if @foods.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Measurement Unit</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <td><%= food.measurement_unit %></td>
              <td><%= number_to_currency(food.price) %></td>
              <td>
                <%= form_with model: food, url: food_path(food), method: :delete, data: { confirm: 'Are you sure you want to delete this food?' } do |f| %>
                  <%= f.submit 'Delete', class: 'btn btn-danger delete-button' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No food items available.</p>
    <% end %>
  </turbo-frame>

  <%= link_to 'New Food', new_food_path, class: 'btn btn-primary' %>
</div>
