<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'shop' %>
  <title>Shopping List</title>
</head>
<body>

<div class="container">
  <div class="text-center">
    <h1 class="text-primary">Shopping List</h1>
  </div>

  <div class="custom-flex-container">
    <label class="text-primary">Amount of food items to buy: <%= @recipe_foods&.count || 0 %></label>
    <label class="text-primary">Total value of food needed: <%= number_to_currency(@needed_money, precision: 2) %></label>
  </div>

  <div>
    <table class="custom-table">
      <thead class="custom-table-header">
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods&.each do |recipe_food| %>
          <tr>
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.quantity %></td>
            <td><%= number_to_currency(recipe_food.food.price * recipe_food.quantity, unit: '') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
